<header class="mb-auto rounded">
	<nav class="nav navbar navbar-expand-md" aria-label="Fourth navbar example">
		<div class="container-fluid">
			<div class="navbar-brand">
				<a href="/">
				<img src="/assets/img/ieeekite.svg" width="40" height="40" alt="IEEE Kite" class="ieee-kite"/>
				<span class="ms-2 align-middle">{{ site.title }}</span>
				</a>
			</div>
			<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarsExample04" aria-controls="navbarsExample04" aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>
			<div class="collapse navbar-collapse justify-content-end" id="navbarsExample04">
				<div>
					<ul class="navbar-nav me-auto mb-2 mb-md-0">
						{% for item in site.data.navbar.toc %}
						{% if item.subfolderitems %}
						<li class="nav-item dropdown">
							<a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false" href="#">{{ item.title }}</a>
							<ul class="dropdown-menu">
							{% for entry in item.subfolderitems %}
								<li><a class="dropdown-item {% if entry.url == page.url %}active{% endif %}" href="{{ entry.url }}">{{ entry.title }}</a></li>
							{% endfor %}
							</ul>
						</li>
						{% else %}
						<li class="nav-item">
							<a class="nav-link {% if item.url == page.url %}active{% endif %}" href="{{ item.url }}">{{ item.title }}</a>
						</li>						
						{% endif %}
						{% endfor %}
					</ul>
				</div>
			</div>
		</div>
	</nav>
</header>

