$text-color-dark: #fff;
$content-bg-color-dark: rgba(30, 30, 30, 0.9);
$body-bg-color-dark: rgba(0, 40, 86, 0.5);

$text-color-light: rgb(42, 42, 42);
$content-bg-color-light: rgba(255, 255, 255, 0.8);
$body-bg-color-light: rgba(255, 255, 255, 0.37);
