<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

  {%- include head.html -%}

  <body class="background-image-long-page">
    <div class="body-container container-fluid">
      <div class="content-container d-flex w-100 mx-auto flex-column">    
        {%- include header.html -%}
        <main role="main" class="inner p-5 content mt-5 mb-5 rounded">
        {{ content }}
        </main>
        {%- include footer.html -%}
      </div>
    </div>
    {%- include scripts.html -%}
  </body>
</html>