<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}" class="cover-html">

  {%- include head.html -%}

  <body class="background-image cover-body">
    <div class="body-container container-fluid">
      <div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">    
        {%- include header.html -%}
        <main role="main" class="inner cover text-center">
        {{ content }}
        </main>
        {%- include footer.html -%}
      </div>
    </div>
    {%- include scripts.html -%}
  </body>
</html>